--
-- PostgreSQL database dump
--

\restrict xyYFNDuiQHeZIdBJzVJJzv2z6w4n1Ytmflf28ZLyv5b7MLaG2Bdv4AMS2q8IM3W

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tm_cong_no_doi_tac_ct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tm_cong_no_doi_tac_ct (
    id integer NOT NULL,
    ma_doi_tac character varying(50) NOT NULL,
    loai_cong_no public.enum_loai_cong_no NOT NULL,
    so_hoa_don character varying(50),
    ngay_phat_sinh date NOT NULL,
    so_tien numeric(15,2) NOT NULL,
    da_thanh_toan numeric(15,2) DEFAULT 0,
    con_lai numeric(15,2) GENERATED ALWAYS AS ((so_tien - da_thanh_toan)) STORED,
    han_thanh_toan date,
    trang_thai public.enum_trang_thai_cong_no DEFAULT 'CHUA_TT'::public.enum_trang_thai_cong_no,
    ghi_chu text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tm_cong_no_doi_tac_ct OWNER TO postgres;

--
-- Name: TABLE tm_cong_no_doi_tac_ct; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.tm_cong_no_doi_tac_ct IS 'Chi tiß║┐t c├┤ng nß╗ú ─æß╗æi t├íc';


--
-- Name: tm_cong_no_doi_tac_ct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tm_cong_no_doi_tac_ct_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tm_cong_no_doi_tac_ct_id_seq OWNER TO postgres;

--
-- Name: tm_cong_no_doi_tac_ct_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tm_cong_no_doi_tac_ct_id_seq OWNED BY public.tm_cong_no_doi_tac_ct.id;


--
-- Name: tm_cong_no_doi_tac_ct id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_cong_no_doi_tac_ct ALTER COLUMN id SET DEFAULT nextval('public.tm_cong_no_doi_tac_ct_id_seq'::regclass);


--
-- Name: tm_cong_no_doi_tac_ct tm_cong_no_doi_tac_ct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_cong_no_doi_tac_ct
    ADD CONSTRAINT tm_cong_no_doi_tac_ct_pkey PRIMARY KEY (id);


--
-- Name: idx_tm_cong_no_dt_ct_doi_tac; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tm_cong_no_dt_ct_doi_tac ON public.tm_cong_no_doi_tac_ct USING btree (ma_doi_tac);


--
-- Name: idx_tm_cong_no_dt_ct_han; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tm_cong_no_dt_ct_han ON public.tm_cong_no_doi_tac_ct USING btree (han_thanh_toan) WHERE (trang_thai <> 'DA_TT'::public.enum_trang_thai_cong_no);


--
-- Name: idx_tm_cong_no_dt_ct_hoa_don; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tm_cong_no_dt_ct_hoa_don ON public.tm_cong_no_doi_tac_ct USING btree (so_hoa_don);


--
-- Name: idx_tm_cong_no_dt_ct_trang_thai; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tm_cong_no_dt_ct_trang_thai ON public.tm_cong_no_doi_tac_ct USING btree (trang_thai);


--
-- Name: tm_cong_no_doi_tac_ct tm_cong_no_doi_tac_ct_ma_doi_tac_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tm_cong_no_doi_tac_ct
    ADD CONSTRAINT tm_cong_no_doi_tac_ct_ma_doi_tac_fkey FOREIGN KEY (ma_doi_tac) REFERENCES public.dm_doi_tac(ma_doi_tac);


--
-- PostgreSQL database dump complete
--

\unrestrict xyYFNDuiQHeZIdBJzVJJzv2z6w4n1Ytmflf28ZLyv5b7MLaG2Bdv4AMS2q8IM3W

